* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}

p {
    padding: 10% 0 5%;
    color: aliceblue;
    font-size: 5rem;
}


body>a,
form>button {
    padding: .75rem 1rem;
    background: rgb(18, 140, 7);
    border-radius: .75rem;
    font-size: 1.25rem;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

button {
    padding: .5rem 1rem;
    display: block;
    width: 100%;
    margin: 2rem 0 0 auto;
}

form,
table {
    padding-bottom: 2.5rem;
    text-align: left;
    margin: 0 auto;
    max-width: 475px;
    padding: 1.5rem;
    background-color: rgb(241, 245, 245);
    border-radius: .5rem;
}

label {

    font-size: 1.25rem;
    margin: 1rem 0 .25rem 0;
    display: inline-block;
}

input {
    font-size: 1.1rem;
    padding: .5rem 1rem;
    width: 100%;
}

input[type="file"] {
    padding: initial;
}

table {
    margin-top: 2.5rem;
}

tr>th {
    font-size: 1.15rem;
    text-transform: uppercase;
    padding: .25rem 2.5rem .25rem 0;
}

tr>td {
    font-size: 1.05rem;
    padding: .5rem 0;
}