* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}

p {
    padding: 5% 0;
    color: aliceblue;
    font-size: 5rem;
}

body>a,
form>button {
    padding: .75rem 1rem;
    background: rgb(18, 140, 7);
    border-radius: .75rem;
    font-size: 1.25rem;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

button {
    padding: .5rem 1rem;
    display: block;
    width: 100%;
    margin: 2rem 0 0 auto;
}

form,
table {
    padding-bottom: 2.5rem;
    text-align: left;
    margin: 0 auto;
    max-width: 475px;
    padding: 1.5rem;
    background-color: rgb(241, 245, 245);
    border-radius: .5rem;
}

table{
    min-width: 550px;

}

label {

    font-size: 1.25rem;
    margin: 1rem 0 .25rem 0;
    display: inline-block;
}

input {
    font-size: 1.1rem;
    padding: .5rem 1rem;
    width: 100%;
}

input[type="file"] {
    padding: initial;
}

table {
    margin-top: 2.5rem;
}

tr{
    position: relative;
}

tr>th {
    font-size: 1.15rem;
    text-transform: uppercase;
    padding: .25rem 2.5rem .25rem 0;
}

tr>td {
    font-size: 1.05rem;
    min-height: 40px;
    position: relative;
}

td a, td span{
    min-height: 40px;
    display:flex;
    justify-content: flex-start; 
    align-items: center;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

td img{
    float: left;
}

ul {
    padding: 1rem;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    border-bottom: 1px solid aliceblue;
}

li {
    font-size: 2rem;
    padding: 1rem 2rem;
}

li a {
    color: aliceblue;
    padding: .25rem;
    text-decoration: none;
}

img {
    border-radius: 1rem;
}

li a:hover {
    color: rgb(0, 195, 255);
    transition: .3s ease-in-out;
}

.current{
    color: rgb(0, 195, 255);
}

.delete-btn{
    width: initial;
    margin: initial;
    display: initial;
    background-color: tomato;
    color: beige;
    font-weight: 700;
    border: none;
    border-radius: .25rem;
    padding: .25rem .5rem;
    cursor: pointer;
    transition: all .15s ease-in;
    border: 1px solid tomato;
}

.delete-btn:hover{
    background-color: rgb(241, 245, 245);
    color: tomato;
}

.delete-tr{
    position: absolute;
    left: 91%;
    top: .5rem;
}

.h-hide{
    display: none;
}